<!-- Start Feature
		============================================= -->
<div class="feature-areag de-pt">
    <div class="container">
        <div class="feature-wpr feature-2 grid-2">
            <div class="feature-left">
                <span class="about-sub-title">AnjaniDev</span>
                <h2 data-splitting class="about-title mb-50 wow" data-wow-duration=".1s" data-wow-delay=".4s">
                  Software Development <br> and IT Solutions
                </h2>
                <p class="mb-50">
                  AnjaniDev is a software development company based in Bandung, Indonesia. We build robust and agile software for startups and established enterprise businesses.
                </p>
                <a href="#" class="theme-btn">
                    Get Started <i class="icofont-long-arrow-right"></i>
                </a>
            </div>
            <div class="feature-right grid-2">
                <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="feature-icon">
                        <img src="/assets/img/icons/man.png" alt="thumb">
                    </div>
                    <div class="feature-info">
                        <h5>Respect for People</h5>
                        <p class="mb-0">We value our people, encourage their development and reward their performance.</p>
                    </div>
                </div>
                <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                    <div class="feature-icon">
                        <img src="/assets/img/icons/checked.png" alt="thumb">
                    </div>
                    <div class="feature-info">
                        <h5>Integrity</h5>
                        <p class="mb-0">We uphold the highest standards of integrity in all of our actions.</p>
                    </div>
                </div>
                <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                    <div class="feature-icon">
                        <img src="/assets/img/icons/rating.png" alt="thumb">
                    </div>
                    <div class="feature-info">
                        <h5>Collaboration</h5>
                        <p class="mb-0">We together team up with the customers to create and validate the deliverables of the project to meet the goals.</p>
                    </div>
                </div>
                <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                    <div class="feature-icon">
                        <img src="/assets/img/icons/consult.png" alt="thumb">
                    </div>
                    <div class="feature-info">
                        <h5>Quality</h5>
                        <p class="mb-0">We provide outstanding products and unsurpassed service that, together, deliver premium value to our customers.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Feature -->